n8n-receipt-workflow.json
{
  "name": "[Bot] Receipt to Ledger (Accounting)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "expression": 5
            }
          ]
        }
      },
      "name": "Schedule Trigger (5m)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "message",
        "returnAll": true,
        "filters": {
          "q": "is:unread newer_than:1h (label:결제 OR label:영수증 OR label:결제내역)"
        },
        "additionalFields": {
          "format": "resolved"
        }
      },
      "name": "Gmail: Search Receipts",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [200, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "DEWU3a5xHeXKmfpP",
          "name": "Gmail account - hoofoo1021 (Sub-Workflow)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (!Object.keys($input.item.json).length) return [];\n\nconst email = $input.item.json;\nconst body = email.textPlain || email.snippet || email.textHtml || \"\";\nconst subject = email.subject || \"\";\n\n// 2. 기본값 세팅\nlet name = \"알 수 없는 사용처\";\nlet price = \"0\";\nlet type = \"Expense\"; // 기본은 지출\n\n// 3. 정규식(Regex)을 이용한 데이터 추출\nconst priceRegex = /([0-9,]+)\\s*원/;\nconst priceMatch = body.match(priceRegex) || subject.match(priceRegex);\nif (priceMatch) {\n  price = priceMatch[1].replace(/,/g, '');\n}\n\nconst nameRegex = /(?:가맹점명?|사용처|결제처|상호명?|입금처|송금처)\\s*[:\\-]?\\s*([^\\r\\n<]+)/;\nconst nameMatch = body.match(nameRegex);\nif (nameMatch) {\n  name = nameMatch[1].trim();\n} else {\n  const subjectMatch = subject.match(/\\[.*?\\]\\s*(.+?)\\s*결제/);\n  if (subjectMatch) {\n    name = subjectMatch[1].trim();\n  } else {\n    name = subject;\n  }\n}\n\nif (subject.includes(\"입금\") || subject.includes(\"결제 취소\") || body.includes(\"입금 완료\")) {\n  type = \"Income\";\n}\n\nconst description = `**결제 승인 대기**\\n- 사용처: ${name}\\n- 금액: ${price}\\n- 구분: ${type}\\n\\n*※ 아래 📝 이모지를 클릭하면 노션 가계부에 자동으로 반영됩니다.*`;\n\nconst discordPayload = {\n  content: \"\",\n  embeds: [\n    {\n      title: \"💳 결제 승인 대기\",\n      description: description,\n      color: type === \"Expense\" ? 16753920 : 65280\n    }\n  ]\n};\n\nreturn [{ json: { payload: discordPayload, messageId: email.id } }];"
      },
      "name": "Parse Receipt (Regex)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1524803355233353930/mzujpg9N-ky3L5uD56hQzqfZLLt2pCj0jKIEsIKdgWnkEGdadfK4HshMdjexoYj5j84E",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}"
      },
      "name": "Discord Webhook (Accounting)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": "={{ $json.messageId }}",
        "updateFields": {
          "removeLabelIds": ["UNREAD"]
        }
      },
      "name": "Gmail: Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [800, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "DEWU3a5xHeXKmfpP",
          "name": "Gmail account - hoofoo1021 (Sub-Workflow)"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (5m)": {
      "main": [
        [
          {
            "node": "Gmail: Search Receipts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Search Receipts": {
      "main": [
        [
          {
            "node": "Parse Receipt (Regex)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Receipt (Regex)": {
      "main": [
        [
          {
            "node": "Discord Webhook (Accounting)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Webhook (Accounting)": {
      "main": [
        [
          {
            "node": "Gmail: Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  }
}
