w-daily.json
{
  "updatedAt": "2026-07-09T15:09:39.340Z",
  "createdAt": "2026-07-09T15:06:31.971Z",
  "id": "g2CxFGM3wPbVNZcn",
  "name": "Daily Briefing (Notion + Paperclip)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "2d3ae0f6-01f5-4796-af91-5ee99d52ab13"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "38a4abe3-a8af-8156-bd94-000b3c7c5677",
          "mode": "id"
        },
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Date|date",
              "condition": "equals",
              "date": "={{ $now.setZone('Asia/Seoul').toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "name": "Notion (Today's Schedule)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [200, 0],
      "credentials": {
        "notionApi": { "id": "lwrIPzFxagksNu6e", "name": "Notion API - BWS Synced" }
      },
      "id": "2b3ce547-104a-431c-8db5-e180702d2cf5"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://100.91.9.83:3100/api/companies/3fa0dfa2-9f91-4002-8012-ac598bbb4761/issues",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "status", "value": "todo,in_progress" }] },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pcp_508e1df1f3ef0ea8512618560aeb1158d374da12292fb5d9"
            }
          ]
        },
        "options": {}
      },
      "name": "Paperclip (Pending Issues)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 0],
      "id": "c763004f-154f-4ed1-936c-c7ad66b7c190"
    },
    {
      "parameters": {
        "jsCode": "const notionSchedules = $items(\"Notion (Today's Schedule)\");\nconst paperclipResponse = $items(\"Paperclip (Pending Issues)\")[0].json;\nconst paperclipIssues = Array.isArray(paperclipResponse) ? paperclipResponse : [];\n\nlet scheduleText = \"\";\nif (notionSchedules.length > 0) {\n  notionSchedules.forEach((item, index) => {\n    const props = item.json.property_이름 || '제목 없음';\n    scheduleText += `${index + 1}. 📅 ${props}\\n`;\n  });\n} else {\n  scheduleText = \"오늘 예정된 일정이 없습니다. ☕\\n\";\n}\n\nlet issuesText = \"\";\nif (paperclipIssues.length > 0) {\n  const displayIssues = paperclipIssues.slice(0, 5);\n  displayIssues.forEach((issue, index) => {\n    issuesText += `${index + 1}. ⏳ [${issue.id.substring(0,8)}] ${issue.title}\\n`;\n  });\n  if (paperclipIssues.length > 5) issuesText += `...외 ${paperclipIssues.length - 5}건\\n`;\n} else {\n  issuesText = \"마감일이 임박한 대기 이슈가 없습니다. 🎉\\n\";\n}\n\nconst discordMessage = `**☀️ 오늘의 데일리 브리핑**\\n\\n**[오늘의 일정]**\\n${scheduleText}\\n**[대기 중인 주요 이슈]**\\n${issuesText}`;\n\nreturn [{ json: { text: discordMessage } }];"
      },
      "name": "Format Briefing (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0],
      "id": "40c266bd-3a32-4837-b395-75e025737df8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1485602784958218290/1U_cPCn0sp0a6c9xm_pa1GXDguIxLEHiwbthmIl1M4fIAQ9nBIoPusTOJ7RHEB5HaHZw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "name": "Discord Webhook (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 0],
      "id": "18118ec8-8c16-49c3-859c-d6a95f8ea24c"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Notion (Today's Schedule)", "type": "main", "index": 0 }]]
    },
    "Notion (Today's Schedule)": {
      "main": [[{ "node": "Paperclip (Pending Issues)", "type": "main", "index": 0 }]]
    },
    "Paperclip (Pending Issues)": {
      "main": [[{ "node": "Format Briefing (Code)", "type": "main", "index": 0 }]]
    },
    "Format Briefing (Code)": {
      "main": [[{ "node": "Discord Webhook (HTTP)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": { "node:Schedule Trigger": { "recurrenceRules": [] } },
  "meta": { "templateCredsSetupCompleted": true },
  "pinData": {},
  "versionId": "1c763cec-d8d5-4e53-b1ef-b2f94c3af707",
  "activeVersionId": "1c763cec-d8d5-4e53-b1ef-b2f94c3af707",
  "versionCounter": 7,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-07-09T15:06:31.977Z",
      "createdAt": "2026-07-09T15:06:31.977Z",
      "role": "workflow:owner",
      "workflowId": "g2CxFGM3wPbVNZcn",
      "projectId": "j9kPqlUKbAGT3iOa",
      "project": {
        "updatedAt": "2025-10-18T15:25:41.307Z",
        "createdAt": "2025-10-17T06:12:44.875Z",
        "id": "j9kPqlUKbAGT3iOa",
        "name": "Dulle Min <mindullestudio@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "708916a4-76f1-4477-a275-6114c2d9deb6"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-09T15:09:39.341Z",
    "createdAt": "2026-07-09T15:09:39.341Z",
    "versionId": "1c763cec-d8d5-4e53-b1ef-b2f94c3af707",
    "workflowId": "g2CxFGM3wPbVNZcn",
    "nodes": [
      {
        "parameters": {
          "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
        },
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "id": "2d3ae0f6-01f5-4796-af91-5ee99d52ab13"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "38a4abe3-a8af-8156-bd94-000b3c7c5677",
            "mode": "id"
          },
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "key": "Date|date",
                "condition": "equals",
                "date": "={{ $now.setZone('Asia/Seoul').toFormat('yyyy-MM-dd') }}"
              }
            ]
          }
        },
        "name": "Notion (Today's Schedule)",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [200, 0],
        "credentials": {
          "notionApi": { "id": "lwrIPzFxagksNu6e", "name": "Notion API - BWS Synced" }
        },
        "id": "2b3ce547-104a-431c-8db5-e180702d2cf5"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "http://100.91.9.83:3100/api/companies/3fa0dfa2-9f91-4002-8012-ac598bbb4761/issues",
          "sendQuery": true,
          "queryParameters": { "parameters": [{ "name": "status", "value": "todo,in_progress" }] },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer pcp_508e1df1f3ef0ea8512618560aeb1158d374da12292fb5d9"
              }
            ]
          },
          "options": {}
        },
        "name": "Paperclip (Pending Issues)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [400, 0],
        "id": "c763004f-154f-4ed1-936c-c7ad66b7c190"
      },
      {
        "parameters": {
          "jsCode": "const notionSchedules = $items(\"Notion (Today's Schedule)\");\nconst paperclipResponse = $items(\"Paperclip (Pending Issues)\")[0].json;\nconst paperclipIssues = Array.isArray(paperclipResponse) ? paperclipResponse : [];\n\nlet scheduleText = \"\";\nif (notionSchedules.length > 0) {\n  notionSchedules.forEach((item, index) => {\n    const props = item.json.property_이름 || '제목 없음';\n    scheduleText += `${index + 1}. 📅 ${props}\\n`;\n  });\n} else {\n  scheduleText = \"오늘 예정된 일정이 없습니다. ☕\\n\";\n}\n\nlet issuesText = \"\";\nif (paperclipIssues.length > 0) {\n  const displayIssues = paperclipIssues.slice(0, 5);\n  displayIssues.forEach((issue, index) => {\n    issuesText += `${index + 1}. ⏳ [${issue.id.substring(0,8)}] ${issue.title}\\n`;\n  });\n  if (paperclipIssues.length > 5) issuesText += `...외 ${paperclipIssues.length - 5}건\\n`;\n} else {\n  issuesText = \"마감일이 임박한 대기 이슈가 없습니다. 🎉\\n\";\n}\n\nconst discordMessage = `**☀️ 오늘의 데일리 브리핑**\\n\\n**[오늘의 일정]**\\n${scheduleText}\\n**[대기 중인 주요 이슈]**\\n${issuesText}`;\n\nreturn [{ json: { text: discordMessage } }];"
        },
        "name": "Format Briefing (Code)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [600, 0],
        "id": "40c266bd-3a32-4837-b395-75e025737df8"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://discord.com/api/webhooks/1485602784958218290/1U_cPCn0sp0a6c9xm_pa1GXDguIxLEHiwbthmIl1M4fIAQ9nBIoPusTOJ7RHEB5HaHZw",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"content\": \"{{ $json.text }}\"\n}",
          "options": {}
        },
        "name": "Discord Webhook (HTTP)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 0],
        "id": "18118ec8-8c16-49c3-859c-d6a95f8ea24c"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [[{ "node": "Notion (Today's Schedule)", "type": "main", "index": 0 }]]
      },
      "Notion (Today's Schedule)": {
        "main": [[{ "node": "Paperclip (Pending Issues)", "type": "main", "index": 0 }]]
      },
      "Paperclip (Pending Issues)": {
        "main": [[{ "node": "Format Briefing (Code)", "type": "main", "index": 0 }]]
      },
      "Format Briefing (Code)": {
        "main": [[{ "node": "Discord Webhook (HTTP)", "type": "main", "index": 0 }]]
      }
    },
    "authors": "Dulle Min",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-09T15:09:51.891Z",
        "id": 360,
        "workflowId": "g2CxFGM3wPbVNZcn",
        "versionId": "1c763cec-d8d5-4e53-b1ef-b2f94c3af707",
        "event": "activated",
        "userId": "708916a4-76f1-4477-a275-6114c2d9deb6"
      }
    ]
  }
}
