w1.json
{
  "updatedAt": "2026-07-05T00:38:38.000Z",
  "createdAt": "2026-06-09T12:40:01.113Z",
  "id": "vuuCUnEXTMcRe05z",
  "name": "[Bot] Gmail to Discord - mindullestudio",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const email = $json;\nconst labelsRaw = JSON.parse(email.allGmailLabels || \"[]\");\nconst labelsMap = {};\nif (Array.isArray(labelsRaw)) {\n  for (const label of labelsRaw) labelsMap[label.id] = label.name;\n}\nlet targetWebhookUrl = null;\nlet targetLabelName = \"Unknown\";\nlet embedColor = 10181046;\n\nconst webhookUrls = {\n  \"Internal\": \"https://discord.com/api/webhooks/1484329239795859587/ZSbwFaCWqUpHcNEY1hCwUpfXxbEw3ml4BcYpSC_Ds4hVUdSkErAjbgTowS4GjbXnk8iz\",\n  \"News\": \"https://discord.com/api/webhooks/1362473451389976687/o-XY4l7P4Ar6GzQ1ScQoU0s_tMElw8miMBWIMyaWXFEUVTruHYE5EScSrKFyJNp2vN6R\",\n  \"Alerts\": \"https://discord.com/api/webhooks/1485602784958218290/1U_cPCn0sp0a6c9xm_pa1GXDguIxLEHiwbthmIl1M4fIAQ9nBIoPusTOJ7RHEB5HaHZw\",\n  \"TechNews\": \"https://discord.com/api/webhooks/1362473170006835431/BPgPQ1b2X3XdMZGvpn_jLhxAlL4T331VSlvimwzaDgm-UOnMdux6ugHFKXJc-K22p-1q\",\n  \"DevNews\": \"https://discord.com/api/webhooks/1362473344016056594/yjL2PZmqHlnLqw451jGU6HeO-ZIoTwzXxLTd1-2n14SbogKvUm0MEabrHmtzoIw9es0X\",\n  \"BusinessNews\": \"https://discord.com/api/webhooks/1362473680030011734/h1yI_NpkxUoDfkZClwUMwQzezulcUrhPnMfkh126NS1imos80Ml_8csJXmNR84iF2Df6\"\n};\n\nconst currentLabelIds = email.labelIds || (email.labels ? email.labels.map(l => l.id) : []);\nfor (const labelId of currentLabelIds) {\n  const labelName = labelsMap[labelId] || \"\";\n  if (labelName) {\n    targetLabelName = labelName;\n    if (labelName.startsWith(\"@business\")) {\n      targetWebhookUrl = webhookUrls[\"BusinessNews\"]; embedColor = 3066993; break;\n    } else if (labelName === \"_news/dev\" || labelName === \"_tools/dev\") {\n      targetWebhookUrl = webhookUrls[\"DevNews\"]; embedColor = 1146986; break;\n    } else if (labelName === \"_news/design\" || labelName === \"_tools/design\") {\n      targetWebhookUrl = webhookUrls[\"News\"]; embedColor = 15105570; break;\n    } else if (labelName === \"_news/AI\" || labelName === \"_tools/ai\" || labelName === \"_news/tech\") {\n      targetWebhookUrl = webhookUrls[\"TechNews\"]; embedColor = 2123412; break;\n    } else if (labelName === \"_logs\" || labelName === \"_alerts\") {\n      targetWebhookUrl = webhookUrls[\"Alerts\"]; embedColor = 15158332; break;\n    } else if (labelName.startsWith(\"@\") || labelName.startsWith(\"_\")) {\n      targetWebhookUrl = webhookUrls[\"News\"]; break;\n    }\n  }\n}\n\nif (!targetWebhookUrl) {\n  if (currentLabelIds.some(id => labelsMap[id] === \"INBOX\")) {\n     targetWebhookUrl = webhookUrls[\"Internal\"];\n     targetLabelName = \"INBOX\";\n  } else {\n     targetWebhookUrl = webhookUrls[\"Internal\"];\n     targetLabelName = \"INBOX/Other\";\n  }\n}\n\nlet from = email.From || email.from || email.sender || email.Sender || 'Unknown Sender';\nlet subject = email.Subject || email.subject || 'No Subject';\n\nfunction getHeader(headers, name) {\n  if (!headers) return null;\n  if (Array.isArray(headers)) {\n    let h = headers.find(h => h.name && h.name.toLowerCase() === name.toLowerCase());\n    return h ? h.value : null;\n  }\n  for (let key in headers) {\n    if (key.toLowerCase() === name.toLowerCase()) return headers[key];\n  }\n  return null;\n}\n\nif (from === 'Unknown Sender') {\n  let f = getHeader(email.payload && email.payload.headers, 'from') || getHeader(email.headers, 'from');\n  if (f) from = f;\n}\nif (subject === 'No Subject') {\n  let s = getHeader(email.payload && email.payload.headers, 'subject') || getHeader(email.headers, 'subject');\n  if (s) subject = s;\n}\n\nfunction decodeBase64Url(str) {\n  if (!str) return '';\n  return Buffer.from(str.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf-8');\n}\n\nfunction getBodyText(emailObj) {\n  if (emailObj.textPlain) return emailObj.textPlain;\n  if (emailObj.textHtml) return emailObj.textHtml.replace(/<[^>]*>?/gm, ' ').replace(/&nbsp;/g, ' ');\n  let payload = emailObj.payload;\n  if (!payload) return '';\n  if (payload.mimeType === 'text/plain' && payload.body && payload.body.data) return decodeBase64Url(payload.body.data);\n  if (payload.parts && payload.parts.length > 0) {\n    let plainPart = payload.parts.find(p => p.mimeType === 'text/plain');\n    if (plainPart && plainPart.body && plainPart.body.data) return decodeBase64Url(plainPart.body.data);\n    let htmlPart = payload.parts.find(p => p.mimeType === 'text/html');\n    if (htmlPart && htmlPart.body && htmlPart.body.data) return decodeBase64Url(htmlPart.body.data).replace(/<[^>]*>?/gm, ' ').replace(/&nbsp;/g, ' ');\n  }\n  return '';\n}\n\nlet plainTextBody = getBodyText(email) || email.snippet || 'No body content';\nplainTextBody = plainTextBody.replace(/\\s+/g, ' ').trim();\n\nconst emailLink = 'https://mail.google.com/mail/u/0/#inbox/' + (email.threadId || email.id);\nconst date = email.internalDate ? new Date(parseInt(email.internalDate)).toLocaleString() : new Date().toLocaleString();\n\nconst discordMessage = {\n    content: `📨 **New Studio Email** [${targetLabelName}]`,\n    embeds: [\n      {\n        title: subject,\n        description: plainTextBody.substring(0, 1500) + (plainTextBody.length > 1500 ? '...' : ''),\n        url: emailLink,\n        color: embedColor,\n        fields: [\n          { name: \"From\", value: from, inline: true },\n          { name: \"Date\", value: date, inline: true }\n        ]\n      }\n    ]\n};\n\nreturn { json: { webhookUrl: targetWebhookUrl, discordMessage: discordMessage, id: email.id } };"
      },
      "id": "format-and-route",
      "name": "Format and Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, 304]
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Format and Route').item.json.id }}"
      },
      "id": "gmail-trigger",
      "name": "Mark As Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [176, 160],
      "webhookId": "e213ef38-392a-4b5c-b7eb-eaff846be2ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "oAEOXnuQXthgsmR1",
          "name": "Gmail account - mindullestudio (Sub-Workflow)"
        }
      }
    },
    {
      "parameters": { "resource": "label", "returnAll": true },
      "id": "gmail-get-all-labels-for-mapping",
      "name": "Gmail: Get All Labels for Mapping",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [176, 464],
      "webhookId": "2b0370c7-24e7-488f-93c5-468c4dc19c16",
      "credentials": {
        "gmailOAuth2": {
          "id": "oAEOXnuQXthgsmR1",
          "name": "Gmail account - mindullestudio (Sub-Workflow)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      allGmailLabels: JSON.stringify($input.all().map(item => item.json))\n    }\n  }\n];"
      },
      "id": "set-all-labels-property",
      "name": "Set All Labels Property",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [352, 464]
    },
    {
      "id": "schedule-trigger-mindulle",
      "name": "Schedule Trigger (5m)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-250, 300],
      "parameters": { "rule": { "interval": [{ "minutesInterval": 5, "field": "minutes" }] } },
      "credentials": {
        "gmailOAuth2": {
          "id": "oAEOXnuQXthgsmR1",
          "name": "Gmail account - mindullestudio (Sub-Workflow)"
        }
      }
    },
    {
      "id": "gmail-search-unread-mindulle",
      "name": "Gmail: Search Unread (mindulle patterns)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [0, 300],
      "parameters": {
        "resource": "message",
        "returnAll": true,
        "operation": "getAll",
        "filters": {
          "q": "is:unread newer_than:1h (label:_logs OR label:_news OR label:_news/dev OR label:_news/design OR label:_news/AI OR label:_tools OR label:_tools/ai OR label:_tools/dev OR label:_tools/design OR label:@business OR label:@quests OR label:@practices OR label:INBOX)"
        },
        "additionalFields": { "format": "resolved" }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "oAEOXnuQXthgsmR1",
          "name": "Gmail account - mindullestudio (Sub-Workflow)"
        }
      },
      "webhookId": "36826944-45ba-456d-b9a8-c3a8f2512319"
    },
    {
      "id": "webhook-recovery-trigger-mindulle",
      "name": "Webhook Recovery Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-400, 150],
      "parameters": {
        "responseBody": "Recovery started...",
        "path": "recovery-mindulle",
        "httpMethod": "GET",
        "respondWith": "text"
      },
      "webhookId": "f58aa45a-3c50-4791-92c4-5cbe6ccc9cd0"
    },
    {
      "id": "gmail-recovery-search-mindulle",
      "name": "Gmail: Recovery Search (Last 1h)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [-100, 150],
      "parameters": {
        "returnAll": true,
        "operation": "getAll",
        "resource": "message",
        "filters": { "q": "rfc822msgid:19f2dcba43924780 OR 19f2dcba43924780" },
        "additionalFields": { "format": "resolved" }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "oAEOXnuQXthgsmR1",
          "name": "Gmail account - mindullestudio (Sub-Workflow)"
        }
      },
      "webhookId": "bbd2d3da-ff1d-4bce-bfb5-eace8c5a2c42"
    },
    {
      "id": "inspect-message-mindulle",
      "name": "Inspect Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 450],
      "parameters": {
        "jsCode": "console.log(\"SENDING TO DISCORD:\", JSON.stringify($json, null, 2));\nreturn $json;"
      }
    },
    {
      "id": "native-discord-mindulle",
      "name": "Discord: Native Webhook Dispatch",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1000, 304],
      "parameters": {
        "webhookUri": "={{ $json.webhookUrl }}",
        "text": "={{ $json.discordMessage.content }}",
        "options": {
          "username": "Studio Mail Bridge (mindullestudio)",
          "embeds": "={{ JSON.stringify($json.discordMessage.embeds) }}"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (5m)": {
      "main": [[{ "node": "Gmail: Get All Labels for Mapping", "type": "main", "index": 0 }]]
    },
    "Gmail: Get All Labels for Mapping": {
      "main": [[{ "node": "Set All Labels Property", "type": "main", "index": 0 }]]
    },
    "Set All Labels Property": {
      "main": [[{ "node": "Gmail: Search Unread (mindulle patterns)", "type": "main", "index": 0 }]]
    },
    "Gmail: Search Unread (mindulle patterns)": {
      "main": [[{ "node": "Format and Route", "type": "main", "index": 0 }]]
    },
    "Format and Route": {
      "main": [
        [
          { "node": "Discord: Native Webhook Dispatch", "type": "main", "index": 0 },
          { "node": "Inspect Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Webhook Recovery Trigger": {
      "main": [[{ "node": "Gmail: Recovery Search (Last 1h)", "type": "main", "index": 0 }]]
    },
    "Gmail: Recovery Search (Last 1h)": {
      "main": [[{ "node": "Format and Route", "type": "main", "index": 0 }]]
    },
    "Discord: Native Webhook Dispatch": {
      "main": [[{ "node": "Mark As Read", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "errorWorkflow": "i2JKJpVqYYXbnlkd"
  },
  "staticData": {
    "node:Gmail Trigger (mindullestudio)": {
      "Gmail Trigger (mindullestudio)": { "lastTimeChecked": 1781008801 }
    },
    "node:Schedule Trigger (5m)": { "recurrenceRules": [] }
  },
  "meta": null,
  "pinData": {},
  "versionId": "06098835-96f7-45d5-b0f3-46082500dcf6",
  "activeVersionId": "06098835-96f7-45d5-b0f3-46082500dcf6",
  "versionCounter": 199,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-06-09T12:40:01.115Z",
      "createdAt": "2026-06-09T12:40:01.115Z",
      "role": "workflow:owner",
      "workflowId": "vuuCUnEXTMcRe05z",
      "projectId": "j9kPqlUKbAGT3iOa",
      "project": {
        "updatedAt": "2025-10-18T15:25:41.307Z",
        "createdAt": "2025-10-17T06:12:44.875Z",
        "id": "j9kPqlUKbAGT3iOa",
        "name": "Dulle Min <mindullestudio@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "708916a4-76f1-4477-a275-6114c2d9deb6"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": null,
      "createdAt": null,
      "id": "070dc17a-3845-41d5-b7f3-672905bca420",
      "name": "Production"
    },
    {
      "updatedAt": null,
      "createdAt": null,
      "id": "e451473c-5991-4911-bbc1-a8cc69ff1893",
      "name": "Bot"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-05T00:38:15.622Z",
    "createdAt": "2026-07-05T00:38:15.622Z",
    "versionId": "06098835-96f7-45d5-b0f3-46082500dcf6",
    "workflowId": "vuuCUnEXTMcRe05z",
    "nodes": [
      {
        "parameters": {
          "jsCode": "const email = $json;\nconst labelsRaw = JSON.parse(email.allGmailLabels || \"[]\");\nconst labelsMap = {};\nif (Array.isArray(labelsRaw)) {\n  for (const label of labelsRaw) labelsMap[label.id] = label.name;\n}\nlet targetWebhookUrl = null;\nlet targetLabelName = \"Unknown\";\nlet embedColor = 10181046;\n\nconst webhookUrls = {\n  \"Internal\": \"https://discord.com/api/webhooks/1484329239795859587/ZSbwFaCWqUpHcNEY1hCwUpfXxbEw3ml4BcYpSC_Ds4hVUdSkErAjbgTowS4GjbXnk8iz\",\n  \"News\": \"https://discord.com/api/webhooks/1362473451389976687/o-XY4l7P4Ar6GzQ1ScQoU0s_tMElw8miMBWIMyaWXFEUVTruHYE5EScSrKFyJNp2vN6R\",\n  \"Alerts\": \"https://discord.com/api/webhooks/1485602784958218290/1U_cPCn0sp0a6c9xm_pa1GXDguIxLEHiwbthmIl1M4fIAQ9nBIoPusTOJ7RHEB5HaHZw\",\n  \"TechNews\": \"https://discord.com/api/webhooks/1362473170006835431/BPgPQ1b2X3XdMZGvpn_jLhxAlL4T331VSlvimwzaDgm-UOnMdux6ugHFKXJc-K22p-1q\",\n  \"DevNews\": \"https://discord.com/api/webhooks/1362473344016056594/yjL2PZmqHlnLqw451jGU6HeO-ZIoTwzXxLTd1-2n14SbogKvUm0MEabrHmtzoIw9es0X\",\n  \"BusinessNews\": \"https://discord.com/api/webhooks/1362473680030011734/h1yI_NpkxUoDfkZClwUMwQzezulcUrhPnMfkh126NS1imos80Ml_8csJXmNR84iF2Df6\"\n};\n\nconst currentLabelIds = email.labelIds || (email.labels ? email.labels.map(l => l.id) : []);\nfor (const labelId of currentLabelIds) {\n  const labelName = labelsMap[labelId] || \"\";\n  if (labelName) {\n    targetLabelName = labelName;\n    if (labelName.startsWith(\"@business\")) {\n      targetWebhookUrl = webhookUrls[\"BusinessNews\"]; embedColor = 3066993; break;\n    } else if (labelName === \"_news/dev\" || labelName === \"_tools/dev\") {\n      targetWebhookUrl = webhookUrls[\"DevNews\"]; embedColor = 1146986; break;\n    } else if (labelName === \"_news/design\" || labelName === \"_tools/design\") {\n      targetWebhookUrl = webhookUrls[\"News\"]; embedColor = 15105570; break;\n    } else if (labelName === \"_news/AI\" || labelName === \"_tools/ai\" || labelName === \"_news/tech\") {\n      targetWebhookUrl = webhookUrls[\"TechNews\"]; embedColor = 2123412; break;\n    } else if (labelName === \"_logs\" || labelName === \"_alerts\") {\n      targetWebhookUrl = webhookUrls[\"Alerts\"]; embedColor = 15158332; break;\n    } else if (labelName.startsWith(\"@\") || labelName.startsWith(\"_\")) {\n      targetWebhookUrl = webhookUrls[\"News\"]; break;\n    }\n  }\n}\n\nif (!targetWebhookUrl) {\n  if (currentLabelIds.some(id => labelsMap[id] === \"INBOX\")) {\n     targetWebhookUrl = webhookUrls[\"Internal\"];\n     targetLabelName = \"INBOX\";\n  } else {\n     targetWebhookUrl = webhookUrls[\"Internal\"];\n     targetLabelName = \"INBOX/Other\";\n  }\n}\n\nlet from = email.From || email.from || email.sender || email.Sender || 'Unknown Sender';\nlet subject = email.Subject || email.subject || 'No Subject';\n\nfunction getHeader(headers, name) {\n  if (!headers) return null;\n  if (Array.isArray(headers)) {\n    let h = headers.find(h => h.name && h.name.toLowerCase() === name.toLowerCase());\n    return h ? h.value : null;\n  }\n  for (let key in headers) {\n    if (key.toLowerCase() === name.toLowerCase()) return headers[key];\n  }\n  return null;\n}\n\nif (from === 'Unknown Sender') {\n  let f = getHeader(email.payload && email.payload.headers, 'from') || getHeader(email.headers, 'from');\n  if (f) from = f;\n}\nif (subject === 'No Subject') {\n  let s = getHeader(email.payload && email.payload.headers, 'subject') || getHeader(email.headers, 'subject');\n  if (s) subject = s;\n}\n\nfunction decodeBase64Url(str) {\n  if (!str) return '';\n  return Buffer.from(str.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf-8');\n}\n\nfunction getBodyText(emailObj) {\n  if (emailObj.textPlain) return emailObj.textPlain;\n  if (emailObj.textHtml) return emailObj.textHtml.replace(/<[^>]*>?/gm, ' ').replace(/&nbsp;/g, ' ');\n  let payload = emailObj.payload;\n  if (!payload) return '';\n  if (payload.mimeType === 'text/plain' && payload.body && payload.body.data) return decodeBase64Url(payload.body.data);\n  if (payload.parts && payload.parts.length > 0) {\n    let plainPart = payload.parts.find(p => p.mimeType === 'text/plain');\n    if (plainPart && plainPart.body && plainPart.body.data) return decodeBase64Url(plainPart.body.data);\n    let htmlPart = payload.parts.find(p => p.mimeType === 'text/html');\n    if (htmlPart && htmlPart.body && htmlPart.body.data) return decodeBase64Url(htmlPart.body.data).replace(/<[^>]*>?/gm, ' ').replace(/&nbsp;/g, ' ');\n  }\n  return '';\n}\n\nlet plainTextBody = getBodyText(email) || email.snippet || 'No body content';\nplainTextBody = plainTextBody.replace(/\\s+/g, ' ').trim();\n\nconst emailLink = 'https://mail.google.com/mail/u/0/#inbox/' + (email.threadId || email.id);\nconst date = email.internalDate ? new Date(parseInt(email.internalDate)).toLocaleString() : new Date().toLocaleString();\n\nconst discordMessage = {\n    content: `📨 **New Studio Email** [${targetLabelName}]`,\n    embeds: [\n      {\n        title: subject,\n        description: plainTextBody.substring(0, 1500) + (plainTextBody.length > 1500 ? '...' : ''),\n        url: emailLink,\n        color: embedColor,\n        fields: [\n          { name: \"From\", value: from, inline: true },\n          { name: \"Date\", value: date, inline: true }\n        ]\n      }\n    ]\n};\n\nreturn { json: { webhookUrl: targetWebhookUrl, discordMessage: discordMessage, id: email.id } };"
        },
        "id": "format-and-route",
        "name": "Format and Route",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [608, 304]
      },
      {
        "parameters": {
          "operation": "markAsRead",
          "messageId": "={{ $('Format and Route').item.json.id }}"
        },
        "id": "gmail-trigger",
        "name": "Mark As Read",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [176, 160],
        "webhookId": "e213ef38-392a-4b5c-b7eb-eaff846be2ff",
        "credentials": {
          "gmailOAuth2": {
            "id": "oAEOXnuQXthgsmR1",
            "name": "Gmail account - mindullestudio (Sub-Workflow)"
          }
        }
      },
      {
        "parameters": { "resource": "label", "returnAll": true },
        "id": "gmail-get-all-labels-for-mapping",
        "name": "Gmail: Get All Labels for Mapping",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [176, 464],
        "webhookId": "2b0370c7-24e7-488f-93c5-468c4dc19c16",
        "credentials": {
          "gmailOAuth2": {
            "id": "oAEOXnuQXthgsmR1",
            "name": "Gmail account - mindullestudio (Sub-Workflow)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [\n  {\n    json: {\n      allGmailLabels: JSON.stringify($input.all().map(item => item.json))\n    }\n  }\n];"
        },
        "id": "set-all-labels-property",
        "name": "Set All Labels Property",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [352, 464]
      },
      {
        "id": "schedule-trigger-mindulle",
        "name": "Schedule Trigger (5m)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [-250, 300],
        "parameters": { "rule": { "interval": [{ "minutesInterval": 5, "field": "minutes" }] } },
        "credentials": {
          "gmailOAuth2": {
            "id": "oAEOXnuQXthgsmR1",
            "name": "Gmail account - mindullestudio (Sub-Workflow)"
          }
        }
      },
      {
        "id": "gmail-search-unread-mindulle",
        "name": "Gmail: Search Unread (mindulle patterns)",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "resource": "message",
          "returnAll": true,
          "operation": "getAll",
          "filters": {
            "q": "is:unread newer_than:1h (label:_logs OR label:_news OR label:_news/dev OR label:_news/design OR label:_news/AI OR label:_tools OR label:_tools/ai OR label:_tools/dev OR label:_tools/design OR label:@business OR label:@quests OR label:@practices OR label:INBOX)"
          },
          "additionalFields": { "format": "resolved" }
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "oAEOXnuQXthgsmR1",
            "name": "Gmail account - mindullestudio (Sub-Workflow)"
          }
        },
        "webhookId": "36826944-45ba-456d-b9a8-c3a8f2512319"
      },
      {
        "id": "webhook-recovery-trigger-mindulle",
        "name": "Webhook Recovery Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [-400, 150],
        "parameters": {
          "responseBody": "Recovery started...",
          "path": "recovery-mindulle",
          "httpMethod": "GET",
          "respondWith": "text"
        },
        "webhookId": "f58aa45a-3c50-4791-92c4-5cbe6ccc9cd0"
      },
      {
        "id": "gmail-recovery-search-mindulle",
        "name": "Gmail: Recovery Search (Last 1h)",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [-100, 150],
        "parameters": {
          "returnAll": true,
          "operation": "getAll",
          "resource": "message",
          "filters": { "q": "rfc822msgid:19f2dcba43924780 OR 19f2dcba43924780" },
          "additionalFields": { "format": "resolved" }
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "oAEOXnuQXthgsmR1",
            "name": "Gmail account - mindullestudio (Sub-Workflow)"
          }
        },
        "webhookId": "bbd2d3da-ff1d-4bce-bfb5-eace8c5a2c42"
      },
      {
        "id": "inspect-message-mindulle",
        "name": "Inspect Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [750, 450],
        "parameters": {
          "jsCode": "console.log(\"SENDING TO DISCORD:\", JSON.stringify($json, null, 2));\nreturn $json;"
        }
      },
      {
        "id": "native-discord-mindulle",
        "name": "Discord: Native Webhook Dispatch",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 1,
        "position": [1000, 304],
        "parameters": {
          "webhookUri": "={{ $json.webhookUrl }}",
          "text": "={{ $json.discordMessage.content }}",
          "options": {
            "username": "Studio Mail Bridge (mindullestudio)",
            "embeds": "={{ JSON.stringify($json.discordMessage.embeds) }}"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger (5m)": {
        "main": [[{ "node": "Gmail: Get All Labels for Mapping", "type": "main", "index": 0 }]]
      },
      "Gmail: Get All Labels for Mapping": {
        "main": [[{ "node": "Set All Labels Property", "type": "main", "index": 0 }]]
      },
      "Set All Labels Property": {
        "main": [
          [{ "node": "Gmail: Search Unread (mindulle patterns)", "type": "main", "index": 0 }]
        ]
      },
      "Gmail: Search Unread (mindulle patterns)": {
        "main": [[{ "node": "Format and Route", "type": "main", "index": 0 }]]
      },
      "Format and Route": {
        "main": [
          [
            { "node": "Discord: Native Webhook Dispatch", "type": "main", "index": 0 },
            { "node": "Inspect Message", "type": "main", "index": 0 }
          ]
        ]
      },
      "Webhook Recovery Trigger": {
        "main": [[{ "node": "Gmail: Recovery Search (Last 1h)", "type": "main", "index": 0 }]]
      },
      "Gmail: Recovery Search (Last 1h)": {
        "main": [[{ "node": "Format and Route", "type": "main", "index": 0 }]]
      },
      "Discord: Native Webhook Dispatch": {
        "main": [[{ "node": "Mark As Read", "type": "main", "index": 0 }]]
      }
    },
    "authors": "import",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}
